@model IEnumerable<MyNotesApp.Models.NoteModel>

@{
    ViewData["Title"] = "Notes List";
}

<h1 class="text-2xl font-bold mb-4">Notes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-4">Create New Note</a>
</p>

<div class="overflow-x-auto rounded-lg border shadow-md bg-gray-800">
    <table class="table w-full table-striped">
        <thead class="bg-gray-700 text-gray-300">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="hover:bg-blue-600 hover:text-gray-300 transition-colors duration-200">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td class="flex justify-center space-x-2">
                        <a asp-action="Edit" asp-route-id="@item.NoteId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.NoteId" class="btn btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.NoteId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
